# http
http:
  routers:
    dashboard:
      rule: "Host(`traefik.dev`)"
      entryPoints:
        - "websecure"
      service: "api@internal"
      tls: {}
    service:
      rule: "Host(`service.dev`)"
      service: service
      entryPoints:
        - "websecure"
      tls: {}
  services:
    service:
      loadBalancer:
        servers:
          - url: "http://service:80"
# tcp
tcp:
  routers:
    mysql:
      rule: "HostSNI(`mysql.dev`)"
      entryPoints:
        - "mysql"
      service: mysql
      tls:
        passthrough: true
  services:
    mysql:
      loadBalancer:
        servers:
          - address: "mysql:3306"

